/*! LCC DST override css */
 
 #header h1 {
  margin-top:5%;
  font-weight: normal;
}

#header h1 a {
  border-bottom: 0px;
}

.nav-site-motto {
  display:block;
  padding:14px 0;
  line-height:1;
  font-weight:700;
}

a:hover,a:focus {
  color:#175529;
  text-decoration:underline;
  
}

a:focus {
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}

.nav-site {
  margin-bottom:15px;
}


/*------------------------------------*\
/* REMOVES SECTION TABS FOR ALL FORMS */
.achieveforms-container .sectionsHead  {
  display:none;
}
/*----------------END OF TABS REMOVAL--------------------*/


/*------------------------------------*\
/* REMOVES SECTION TABS FOR SPECIFIC FORM */
/*.achieveforms-container .sectionsHead .sections-head-AF-Form-38fcf41c-1448-4975-b6ac-881d8e14ef36 {
  display:block;
}*/
/*----------------END OF SPECIFIC TABS REMOVAL--------------------*/


/*------------------------------------*\
/* BUTTON STYLES - BOOTSTRAP CLASS .btn OVERRIDE */

.btn-primary { 
  color: #FFFFFF; 
  background-color: #21793B; 
  border-color: #21793B; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF; 
  background-color: #175529; 
  border-color: #21793B; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #21793B; 
  border-color: #21793B; 
} 
 
.btn-primary .badge { 
  color: #21793B; 
  background-color: #FFFFFF; 
}

.btn.active .caret {
  bottom:-11px;
  position:absolute;
  color:#175529;
  left:41%;
  display:block !important;
  border-top-color:#175529;
  border-bottom-color:#175529;
  border-top-width:10px;
  border-right-width:10px;
  border-left-width:10px;
  
}


/*----------------END OF BUTTON OVERRIDE--------------------*/

/*------------- Login/register toolbar links----------------*/

#toolbar .login-link {
    padding: 10px 20px 10px;
    color: #f8680f;
    margin-top: 5px;
}

/*--- Services list items---*/

.list-unstyled a {
    display: inline-block;
    color: #21793b;
    border-bottom: 1px solid transparent;
    font: 700 22px / 1.4 'News Gothic',Helvetica,Arial,sans-serif;
    padding-bottom: 15px;
}

.list-unstyled {
    border-bottom: 1px solid #eeeeee;
}

h1.title, h1.formName {
    font: normal 44px / 1.1 'Sari-Medium', Helvetica, Arial, sans-serif;
    color: #1a1a1a;
}
